.dashboard {
  display: flex;
  justify-content: center;
  background-color: #9dc3ffa1;
}

.auth {
  &__box {
    display: flex;
    align-items: center;
    height: 900px;
    border-radius: 70px;
    width: 100%;
    background-color: #f6faff;
    margin: 2%;
    font-family: "Nunito";
  }

  &__Side {
    width: 25%;
    height: 95%;
    margin: 0 15px;
    background-color: #f6faff;
    border-radius: 60px;
    &--logo {
      width: 80%;
    }
  }

  &__center {
    width: 55%;
    height: 95%;
    background-color: #f6faff;
  }

  &__form {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
  margin-top: 15%;
}

.link {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
  }
}

.boxLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.icon {
  font-size: 25px;
  margin-right: 50px;
}

.profilPicture {
  width: 70px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;
}

.auth__icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

.welcomeMsg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
}

.headerOfFeed {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pictureTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 11px 25px;
  width: 30%;
  margin-left: 25px;
  font-family: "Nunito";
  font-size: 15px;
}

.iconSearch {
  position: absolute;
  font-size: 20px;
  color: #575757;
  right: 10%;
}

.post {
  width: 75%;
  background-color: #ffa3a3;
  border-radius: 30px;
  padding: 30px;
  margin-top: 5%;
}

.postFeed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.postContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rowInfoPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.iconThumb {
  font-size: 18px;
}

.writeAComment {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.postComment {
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  background-color: #eed2fa;
  border-radius: 30px;
  padding: 0 10px;
  margin: 10px;
}

.authorOfComment {
  margin-right: 15px;
  font-weight: bold;
}

.imgComment {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 9px;
}
