.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 65px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;

  &__logo {
    width: 15%;
  }

  &__search {
    display: flex;
    width: 30%;
    position: relative;

    &--input {
      border: none;
      outline: none;
      width: 56%;
      margin-top: 10px;
      border-radius: 20px;
      padding: 15px;
      background-color: white;
      font-family: "Nunito";
    }
    &--iconSearch {
      position: absolute;
      font-size: 20px;
      color: #575757;
      right: 42%;
      top: 40%;
    }
  }

  &__welcomeMsg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
  }
}

a {
  color: black;
}

.home {
  &__box {
    display: flex;
    align-items: center;
    width: 95%;
    background-color: #fafafa;
    font-family: "Nunito";
    margin: auto;
  }

  &__Side {
    width: 25%;
    height: 755px;
    margin: 0 15px;
    background-color: #dce4f1;
    border-radius: 30px;
    &--logo {
      width: 70%;
    }
  }

  &__center {
    width: 70%;
    height: 97%;
    background-color: #fafafa;
    margin-top: 1%;
  }

  &__form {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 96%;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
  }
}

.link {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
}

.boxLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.icon {
  font-size: 25px;
  margin-right: 50px;
}

.profilPicture {
  width: 70px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;
}

.headerOfFeed {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myTeam {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 50%;
}

.pictureTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 65%;
  font-size: 16px;
  font-weight: 400;
}

//RIGHT SIDE
.card {
  height: 150px;
  background-color: #314360;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  width: 70%;
  color: white;

  &__titleCard {
    font-weight: bold;
    font-size: 20px;
  }

  &__img {
    width: 100%;
    margin-top: 6px;
    height: 85px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    object-fit: cover;
  }
}

.forum {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  justify-content: space-evenly;

  &__titleSection {
    font-weight: 900;
    font-size: 20px;
  }
}
