.dashboard {
  display: flex;
  justify-content: center;
  background-color: #d8e2dc;
}

.auth {
  &__box {
    display: flex;
    align-items: center;
    height: 920px;
    border-radius: 70px;
    width: 100%;
    background-color: #fec5bb;
    margin: 1%;
    font-family: "Nunito";
    border: 10px solid white;
  }

  &__Side {
    width: 25%;
    height: 97%;
    margin: 0 15px;
    background-color: #ffe5d9;
    border-radius: 60px;
    &--logo {
      width: 70%;
    }
  }

  &__center {
    width: 70%;
    height: 97%;
    background-color: #fec5bb;
  }

  &__form {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
  margin-top: 15%;
}

.link {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
  }
}

.boxLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.icon {
  font-size: 25px;
  margin-right: 50px;
}

.profilPicture {
  width: 70px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;
}

.auth__icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

.welcomeMsg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
}

.headerOfFeed {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pictureTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search {
  display: flex;
  width: 50%;
  position: relative;

  &__input {
    border: none;
    outline: none;
    width: 45%;
    margin-top: 10px;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
    font-family: "Nunito";
  }

  &__iconSearch {
    position: absolute;
    font-size: 20px;
    color: #575757;
    right: 53%;
    top: 40%;
  }
}
.post {
  width: 75%;
  background-color: #ffd7ba;
  border-radius: 30px;
  padding: 30px;
  margin-top: 5%;
}

.postFeed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 640px;
  overflow: auto;
}

.postContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rowInfoPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.iconThumb {
  font-size: 18px;
}

.postComment {
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  background-color: #fae1dd;
  border-radius: 30px;
  padding: 0 10px;
  margin: 10px;
}

.authorOfComment {
  margin-right: 15px;
  font-weight: bold;
}

.imgComment {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 9px;
}

a {
  color: black;
}

.card {
  height: 150px;
  background-color: #ffd7ba;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  width: 70%;

  &__titleCard {
    font-weight: bold;
    font-size: 20px;
  }

  &__contentCard {
  }

  &__img {
    width: 100%;
    margin-top: 6px;
    height: 110px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    object-fit: cover;
  }
}

.forum {
  margin-top: 40px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  justify-content: space-evenly;

  &__titleSection {
    font-weight: 900;
    font-size: 20px;
  }
}

.createAPost {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  background-color: #ffe5d9;
  border-radius: 20px;
  height: 150px;
  justify-content: space-evenly;

  &__writeAPost {
    margin-top: 10px;
    border-radius: 20px;
    width: 80%;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 20px;
    font-family: "Nunito";
    padding: 12px;
  }

  &__rowButtons {
    display: flex;
    justify-content: space-between;
    width: 25%;
  }

  &__btn {
    background-color: #ffd7ba;
    font-family: "Nunito";
    font-weight: bold;
  }
}


.writeAComment {
  display: flex;
  width: 98%;
  position: relative;

  &__input {
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: white;
    font-family: "Nunito";
    width: 100%;
    margin-left: 6px;
    padding: 15px;
  }
}


//SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 44px;
  height: 44px;
}
::-webkit-scrollbar-thumb {
  background: #d8e2dc;
  border: 0px none #ffffff;
  border-radius: 17px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #d8e2dc;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 46px;
}
::-webkit-scrollbar-track:hover {
  background: #d8e2dc;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}