<div class="container-fluid">
    <div class="dashboard">
        <div class="auth__box">
            <div class="auth__Side">
                <span class="boxLogo">
                    <img class="auth__Side--logo" src="/assets/img/icon-above-font.png">
                </span>
                <div class="account">
                    <span class="link">
                        <fa-icon class="icon" [icon]="faHome"> </fa-icon>
                        <a [routerLink]="['/home']">
                            Home
                        </a>
                    </span>
                    <span class="link">
                        <fa-icon class="icon" [icon]="faUser"> </fa-icon>
                        <a [routerLink]="['/userProfil']">
                            Compte
                        </a>
                    </span>
                    <span class="link">
                        <fa-icon class="icon" [icon]="faCogs"></fa-icon>
                        <a [routerLink]="['/']">
                            Paramètres
                        </a>
                    </span>
                </div>
                <div class="myTeam">
                    COLLABORATEURS
                    <div class="pictureTeam">
                        <img class="profilPicture" src="/assets/img/pp.png">
                        <img class="profilPicture" src="/assets/img/pp.png">
                        <img class="profilPicture" src="/assets/img/pp.png">
                        <img class="profilPicture" src="/assets/img/pp.png">
                    </div>
                </div>
            </div>
            <div class="auth__center">
                <div class="headerOfFeed">
                    <div class="search">
                        Recherche
                        <fa-icon class="iconSearch" [icon]="faSearch">
                        </fa-icon>
                    </div>
                    <div class="welcomeMsg">
                        Bienvenue Angélique !
                        <!-- <img class="profilPicture" src="/assets/img/pp.png"> -->
                    </div>
                </div>
                <div class="postFeed">
                    <div class="post">
                        <div class="postTitle">
                            Titre du post
                        </div>
                        <div class="postContent">
                            <img class="imgPost" src="/assets/img/lol.jpg" width="350">
                        </div>
                        <div class="rowInfoPost">
                            <div class="likes">
                                <fa-icon class="iconThumb" [icon]="faThumbsUp"></fa-icon> 1
                            </div>
                            <div class="comments">
                                Commentaires : 5
                            </div>
                        </div>
                        <div class="writeAComment">
                            Rédiger un commentaire
                        </div>
                        <div class="postComments">
                            <div class="postComment">
                                <img class="imgComment" src="/assets/img/pp.png" width="350">
                                <span class="authorOfComment"> Angélique Grincourt :</span>
                                <span class="contentOfComment"> Whaou trop rigolo </span>
                            </div>
                            <div class="postComment">
                                <img class="imgComment" src="/assets/img/pp.png" width="350">
                                <span class="authorOfComment"> Martin Dupont :</span>
                                <span class="contentOfComment"> Ahahah  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="auth__Side">
                <div class="auth__icon">
                    <fa-icon class="icon" [icon]="faBell"></fa-icon>
                    <fa-icon class="icon" [icon]="faPowerOff"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>