//POST

.createAPost {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: #314360;
  border-radius: 20px;
  height: 150px;
  justify-content: space-evenly;
  width: 83%;

  &__writeAPost {
    margin-top: 10px;
    border-radius: 20px;
    width: 80%;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 20px;
    font-family: "Nunito";
    padding: 12px;
  }

  &__rowButtons {
    display: flex;
    justify-content: space-between;
    width: 25%;
  }

  &__btn {
    background-color: #ffd7ba;
    font-family: "Nunito";
    font-weight: bold;
  }
}

.postFeed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 640px;
  overflow: auto;
}

.post {
  width: 75%;
  background-color: #314360;
  border-radius: 30px;
  padding: 30px;
  margin-top: 5%;
  color: white;

  &__headerpost {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__postContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  &__postComment {
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    background-color: #bd5e68;
    border-radius: 30px;
    padding: 0 10px;
    margin: 10px;
    position: relative;
  }

  &__postTitle {
    font-weight: bold;
    font-size: 20px;
  }

  &__imgComment {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 9px;
  }
}

.trashIcon {
  position: absolute;
  right: 35px;
}

.rowInfoPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  &__comment {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.iconThumb {
  font-size: 18px;
}

.authorOfComment {
  margin-right: 15px;
  font-weight: bold;
}

//COMMENTAIRES
.writeAComment {
  display: flex;
  width: 98%;
  position: relative;

  &__input {
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: white;
    font-family: "Nunito";
    width: 100%;
    margin-left: 6px;
    padding: 15px;
  }
}

//SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 44px;
  height: 44px;
}
::-webkit-scrollbar-thumb {
  background: #d8e2dc;
  border: 0px none #ffffff;
  border-radius: 17px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #d8e2dc;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 46px;
}
::-webkit-scrollbar-track:hover {
  background: #d8e2dc;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
