<div class="container-fluid">
    <div class="flex">
        <div class="auth__box">
            <div class="auth__leftSide">
                <img class="auth__leftSide--backgroundImg" src="/assets/img/pexels-photo-3183186.jpeg">
            </div>
            <div class="auth__rigthSide">
                <span class="auth__icon">
                    <img src="/assets/img/icon-left-font-monochrome-black.png" width="350">
                </span>

                <div class="auth__form">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="" name="email" ngModel required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Mot de passe : </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required>
                            </mat-form-field>
                        </div>
                        <button mat-button type="submit"> Se connecter </button>
                        <div class="text"> Vous n'avez pas encore de compte ? <a [routerLink]="['/subscription']"> Inscrivez vous </a> ! </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>