/* For use in src/lib/core/theming/_palette.scss */
$green: (
    50: #e0efe9,
    100: #b3d8c8,
    200: #80bea3,
    300: #4da37e,
    400: #269063,
    500: #007c47,
    600: #007440,
    700: #006937,
    800: #005f2f,
    900: #004c20,
    A100: #80ffa8,
    A200: #4dff85,
    A400: #1aff62,
    A700: #00ff51,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$orange: (
    50: #fcf2e2,
    100: #f7deb8,
    200: #f2c888,
    300: #edb158,
    400: #e9a135,
    500: #e59011,
    600: #e2880f,
    700: #de7d0c,
    800: #da730a,
    900: #d36105,
    A100: #fffdfc,
    A200: #ffdec9,
    A400: #ffbf96,
    A700: #ffaf7c,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$greenlight: (
    50: #eff6e5,
    100: #d6eabf,
    200: #bbdc95,
    300: #9fcd6a,
    400: #8bc34a,
    500: #76b82a,
    600: #6eb125,
    700: #63a81f,
    800: #59a019,
    900: #46910f,
    A100: #d9ffc2,
    A200: #baff8f,
    A400: #9aff5c,
    A700: #8aff42,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$grey: (
    50: #ebebeb,
    100: #cdcdcc,
    200: #ababab,
    300: #898989,
    400: #70706f,
    500: #575756,
    600: #4f4f4f,
    700: #464645,
    800: #3c3c3c,
    900: #2c2c2b,
    A100: #f28b8b,
    A200: #ed5d5d,
    A400: #ff1818,
    A700: #fd0000,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$greylight: (
    50: #fefefe,
    100: #fcfcfc,
    200: #fafafa,
    300: #f8f8f8,
    400: #f7f7f7,
    500: #f5f5f5,
    600: #f4f4f4,
    700: #f2f2f2,
    800: #f0f0f0,
    900: #eeeeee,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
