<div class="container">
    <ng-container [ngSwitch]="form">
        <div class="box">
            <ng-template class="userProfil" [ngSwitchDefault]>
                <div class="test">
                    <span class="userProfil__title"> Mon profil </span>
                    <span> Nom : {{lastName}}</span>
                    <span> Prénom : {{firstName}}</span>
                    <span> Mail : {{mail}}</span>
                    <span> Anniversaire :{{birthday}} </span>
                    <button mat-button color="accent" (click)="setForm('form')"> Modifier mes informations </button>
                </div>
            </ng-template>
            <ng-template [ngSwitchCase]="'form'">
                <div class="test">
                    <span> Modifier mes informations </span>
                    <form class="form" [formGroup]="updateUserInfo" (ngSubmit)="updateOnSubmit()">
                        <mat-form-field>
                            <mat-label> Nom:</mat-label>
                            <input matInput placeholder="" formControlName="lastName">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Prénom:</mat-label>
                            <input matInput placeholder="" formControlName="firstName" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Mail:</mat-label>
                            <input matInput placeholder="" formControlName="email" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label> Date d'anniversaire </mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="birthday">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-button color="accent" type="submit"> Ok mes informations
                        </button>
                    </form>
                </div>
            </ng-template>
        </div>
    </ng-container>
</div>